<h1>Cadastro de empresa</h1>

<form action="/addemp" method="POST">

<div class="container">
    <div class="card">
        
        <p>Nome da empresa: </p>
        <input type="text" name="name" minlength="5" required>
        <p>CNPJ: </p>
        <input type="tel" name="cnpj" required pattern="[0-9]{2}.[0-9]{3}.[0-9]{3}/[0-9]{4}-[0-9]{2}" placeholder="00.000.000/0000-00">
        <p>Data de Fundação: </p>
        <input type="date" name="data" required>
        <p>E-mail comercial: </p>
        <input type="email" name="email" required placeholder="@gmail.com">
        <p>Telefone: </p>
        <input type="tel" name="telefone" required pattern="[0-9]{2} [0-9]{5}-[0-9]{4}" placeholder="00 00000-0000">
        <p>CEP: </p>
        <input type="tel" name="cep" required pattern="[0-9]{5}-[0-9]{3}" placeholder="00000‑000">
        <p>Endereço: </p>
        <input type="text" name="endereco"><br>
    
        <button type="submit">Cadastrar</button>
        
    </div>
</div>  
    
</form>
    