<form action="/addemp" method="POST">

    <p>Nome da empresa: </p>
    <input type="text" name="name">
    <p>CNPJ: </p>
    <input type="text" name="cnpj">
    <p>Data de Fundação: </p>
    <input type="text" name="data">
    <p>E-mail comercial: </p>
    <input type="text" name="email">
    <p>Telefone: </p>
    <input type="text" name="telefone">
    <p>CEP: </p>
    <input type="text" name="cep">
    <p>Endereço: </p>
    <input type="text" name="endereco"><br>
    
    <button type="submit">Cadastrar</button>
</form>
    <hr>
    <a href="/"><button>Inicio</button></a>